<p id="notice"><%= notice %></p>

<p class="post-title">
  <strong >タイトル:</strong>
  <%= @post.title %>
</p>

<p class="post-content">
  <strong>本文:</strong>
  <%= @post.content %>
</p>

<p class="post-image">
  <%= image_tag @post.image, alt: 'No Image', class: 'post-image-area' %>
</p>

<div class="show-links">
  <%= link_to '編集', edit_post_path(@post) %> |
  <%= link_to '投稿一覧へ', root_path %>
</div>